@font-face {
    font-family: pokemon;
    src: url(../../res/PocketMonk-15ze.ttf);
}
.title{
    font-family: pokemon;
    font-size: 60px;
    color:white;
}
.jumbo{
    display:flex;
    flex-direction: column;
    position:absolute;
    left: 20%;
    top:20%;
}
.button{
    font-size: 20px;
    background-color: purple;
    border-radius: 20px;
    padding: 10px;
    border-style: none;
    color:white
}
.container{
    background-color: black;
    height: 100%;
}
.img {
    position: center;
    max-width: 100%;
    height: auto;
    background-color: black;
} 